version: '3'

services:
  factorio:
    image: goofball222/factorio
    container_name: factorio
    restart: unless-stopped
    ports:
      - "27015:27015"
      - "34197:34197/udp"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/opt/factorio/config
      - ./mods:/opt/factorio/mods
      - ./saves:/opt/factorio/saves
    environment:
      - TZ=UTC
